In [42]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [43]:
# Load the data

df = pd.read_csv('customer_churn.csv')

In [44]:
# information

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440832 entries, 0 to 440831
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CustomerID         440832 non-null  int64
 1   Age                440832 non-null  int64
 2   Gender             440832 non-null  object
 3   Tenure             440832 non-null  int64
 4   Usage Frequency    440832 non-null  int64
 5   Support Calls      440832 non-null  int64
 6   Payment Delay      440832 non-null  int64
 7   Subscription Type  440832 non-null  object
 8   Contract Length    440832 non-null  object
 9   Total Spend        440832 non-null  float64
 10  Last Interaction   440832 non-null  int64
 11  Churn              440832 non-null  int64
dtypes: float64(1), int64(8), object(3)
memory usage: 40.4+ MB

In [45]:
df.head(2)

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2,30,Female,39,14,5,18,Standard,Annual,932.0,17,1
1,3,65,Female,49,1,10,8,Basic,Monthly,557.0,6,1

In [46]:
# Check null values 

df.isnull().sum().any()

False

### Feature Engineering

#### Label Encoder

In [47]:
from sklearn.preprocessing import LabelEncoder

In [48]:
label_encoder = LabelEncoder()

df['Gender'] = label_encoder.fit_transform(df['Gender'])

In [49]:
df['Subscription_Type_Num'] = label_encoder.fit_transform(df['Subscription Type'])
df['Contract_Length_Num'] = label_encoder.fit_transform(df['Contract Length'])

In [50]:
df.head()

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn,Subscription_Type_Num,Contract_Length_Num
0,2,30,0,39,14,5,18,Standard,Annual,932.0,17,1,2,0
1,3,65,0,49,1,10,8,Basic,Monthly,557.0,6,1,0,1
2,4,55,0,14,4,6,18,Basic,Quarterly,185.0,3,1,0,2
3,5,58,1,38,21,7,7,Standard,Monthly,396.0,29,1,2,1
4,6,23,1,32,20,5,8,Basic,Monthly,617.0,20,1,0,1

### Machine Learning

In [51]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

In [52]:
# Splitting into features (X) and target variable (y)
X = df.drop(columns=['Churn', 'Subscription Type', 'Contract Length'])
y = df['Churn']

# Splitting into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# Model Training (K Nearest Neighbor)
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

y_pred_knn = knn.predict(X_test)

# Model Evaluation
y_pred_knn = knn.predict(X_test)

In [53]:
accuracy = accuracy_score(y_test, y_pred_knn)

# Print accuracy
print("Accuracy:", accuracy)

Accuracy: 0.9914253632311409